[submodule "hysteria"]
	path = hysteria
	url = https://github.com/apernet/hysteria
[submodule "AndroidLibXrayLite"]
	path = AndroidLibXrayLite
	url = https://github.com/2dust/AndroidLibXrayLite
[submodule "badvpn"]
	path = v2rayNG/app/src/main/cpp/badvpn
	url = https://github.com/XTLS/badvpn.git
[submodule "libancillary"]
	path = v2rayNG/app/src/main/cpp/libancillary
	url = https://github.com/shadowsocks/libancillary.git
